@{
    ViewBag.Title = "ListProducts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="jumbotron" style="padding-top:2px">
        <div class="row">

            <h3><span class="glyphicon glyphicon-glass"></span> Produktoversikt </h3>

            <hr />

        </div>
    </div>
</div>
