@model List<Nettbutikk.Models.Category>

<!DOCTYPE html>

@{
    ViewBag.Title = "Categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<body>
    <div class="container">
        <div class="jumbotron">
            <h2>Kategorier</h2>
            <table class="table">
                <tr>
                    <th>@Html.DisplayNameFor(model => model[0].ID)</th>
                    <th>@Html.DisplayNameFor(model => model[0].name)</th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.ID)</td>
                        <td>@Html.DisplayFor(modelItem => item.name)</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</body>
</html>

