@model Nettbutikk.admin.Models.LogIn
@{
    ViewBag.Title = "LogIn";
}
<link href="~/Content/Custom/MainSheet.css" rel="stylesheet" />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="formTitle">
                    <h2><span class="glyphicon glyphicon-user"></span>  Logg Inn</h2>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                    <form role="form">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="email"  class="form-control input-lg" placeholder="Email" tabindex="1">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="password" name="password" class="form-control input-lg" placeholder="Passord" tabindex="2">
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-sucsess" tabindex="3">
                              Logg inn
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
}
    


