
@{
    ViewBag.Title = "Main";
}
    <div class="jumbotron" style="padding-top:2px">
        <div class="panel-default" id="formPanel" style="margin-top:60px">
            <table style="margin-top:20px; margin-bottom:20px">
                <tr class="mainrows">
                    <td>
                        <a href="@Url.Action("ListCustomers", "Customer")">
                            <span class="glyphicon glyphicon-user main"> </span>
                        </a>
                    </td>
                    <td>
                        <a href="@Url.Action("ListProducts", "Product")">
                            <span class="glyphicon glyphicon-glass main"> </span>
                        </a>
                    </td>
                    <td>
                        <a href="@Url.Action("ListOrders", "Order")">
                            <span class="glyphicon glyphicon-align-justify main"> </span>
                        </a>
                    </td>
                </tr>
                <tr class="mainrows">
                    <td>
                        BRUKERE
                    </td>
                    <td>
                        PRODUKTER
                    </td>
                    <td>
                        ORDRE
                    </td>
                </tr>
            </table>
        </div>
    </div>
