
@{
    ViewBag.Title = "Main";
}
<link href="~/Content/Custom/MainSheet.css" rel="stylesheet" />
    <div class="jumbotron" style="padding-top:2px">
        <div class="container">
            <table>
                <tr>
                    <td>

                    </td>
                </tr>
            </table>
        </div>
    </div>
