
@{
    ViewBag.Title = "About";
}

 @{
     ViewBag.Title = "AboutUs";
}

<div class="jumbotron">
    <div class="container">
        <h2>Om oss</h2>
        <hr />

        <p style="font-style:italic">
            Alkohol for den tykke, tynne, lange, korte, høylytte, stille, rare, kule, dumme, stygge, pene. Drikke for en hver!
        </p>

        <br />
            Snublevann.no er siden for deg som ikke gidder å reise deg opp fra sofaen og dra deg ned til Vinmonopolet for<br />
            å kjøpe varer du ikke vil huske å ha drukket dagen etter.<br />
            Vi i snublevann har som mål å oppfylle ønskene til kunden om gylne dråper man lett blir svimmel av.<br />
        <br />
            Hos Snublevann har vi alltid noe godt snadder på lager!<br />
        <br />
            Hos oss har det ingen betydning på hvor gammel du er. <br />
            Bare registrer bruker, bestill varene dine og du vil få de i posten<br />

        <br />
          Vennlig hilsen oss i Snublevann
        <h4> <span class="glyphicon glyphicon-envelope"></span> Kontakt oss:</h4>
        Adresse: Vin og mer AS<br />
        Osloveien 88<br />
        1234 Oslo<br />
        Telefon: +47 12311231<br />
        E-post: post@nettbutikk.no<br />
        Org. Nr: 123 456 789<br />
        </div>
</div>

