
@{
    ViewBag.Title = "About";
}

        <div class="jumbotron">
            <h1>Her er forsiden vår, sånn ser den ut</h1>
            <p>På denne siden skal det ligge noen varer på forsiden liggende i bilder</p>
        </div>



