
@{
    ViewBag.Title = "About";
}


<div class="jumbotron">
    <div class="container">
        <h2>Om oss</h2>
        <hr style="border-top:1px solid #9e9e9e"/>

        <p style="font-style:italic">
            Alkohol for den tykke, tynne, lange, korte, høylytte, stille, rare, kule, dumme, stygge, og pene. Drikke for enhver!
        </p>

        <br />
            Snublevann.no er siden for deg som ikke gidder å reise deg opp fra sofaen og dra på Vinmonopolet for<br />
            å kjøpe varer du kanskje ikke kommer til å huske å ha drukket dagen etter.<br />
            Vi i Snublevann har som mål å oppfylle ønskene til kunden om gyldne dråper man lett blir svimmel av.<br />
        <br />
            Snublevann har alltid noe for en hver anledning på lager!<br />
        <br />
            Hos oss har vi ingen aldersgrense, bare registrer bruker, bestill varene dine og du vil få de i posten<br />
        <br />
          Vennlig hilsen oss i Snublevann
        <br />
        <br />
        <hr style="border-top:1px solid #9e9e9e" />
        <h4> <span class="glyphicon glyphicon-envelope"></span> Kontakt oss</h4>
        Snublevann.no A/S<br />
        Adresse: Frydenlundgata 8<br />
        0169 Oslo<br />
        Telefon: +47 21 88 55 43<br />
        E-post: kontakt@snublevann.no<br />
        Org.mva Nr: 213 546 879<br />
        </div>
</div>

