
@{
    ViewBag.Title = "About";
}

 @{
     ViewBag.Title = "AboutUs";
}
<div class="container">
    <div class="jumbotron">
        <h2>AboutUs</h2>
        <hr />

        <p style="font-style:italic">
            Jo fler som drikker, jo mer gøy. Lettere tilgjengelig - oftere gøy
        </p>

        <br />

       
            Dette er ideen bak vår nett side snublevann. Siden har vært opp siden dato 2014 og har som mål </br>
            og gi kunder lettest mulig tilgang til de gyldene dråpene til våre tørste kunder.</br>
            Vi har alltid mye godt på lager og shipper ut så snart som dagen etter,
           </br> slik at varene kommer kjapt hjem til de tusner av hjem.
      
        <h4><span class="glyphicon glyphicon-user"></span>Kontakt oss:</h4>
        Adresse: Vin og mer AS<br />
        Osloveien 88AS<br />
        1234 OsloAS<br />
        Telefon: +47 12311231AS<br />
        E-post: post@nettbutikk.noAS<br />
        Org. Nr: 123 456 789AS<br />
    </div>
 </div>

