@{
    ViewBag.Title = "Forsiden";
}

<script>
    $('.carousel').carousel({
        interval: 500
    })
</script>
    <link href="~/Content/Custom/MainSheet.css" rel="stylesheet" />
    <div id="carousel-mainpage" class="carousel slide" data-ride="carousel" style="width:943px; margin:0 auto;">

    <ol class="carousel-indicators">
        <li data-target="#carousel-mainpage" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-mainpage" data-slide-to="1"></li>
        <li data-target="#carousel-mainpage" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
        <div class="item active">
            <a href="~/Product/ListProducts?sc=no"> <img src="~/Content/img/carousel/1.png" alt="..."></a>
            <div class="carousel-caption">
            </div>
        </div>
        <div class="item">
            <a href="~/Product/ListProducts?sc=no"> <img src="~/Content/img/carousel/2.png" alt="..."></a>
            <div class="carousel-caption">
            </div>
        </div>
        <div class="item">
            <a href="~/Product/ListProducts?sc=no"><img src="~/Content/img/carousel/3.png" alt="..."></a>
            <div class="carousel-caption">
            </div>
        </div>
    </div>
    </div>
        <!--
            <a class="left carousel-control" href="#carousel-mainpage" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-mainpage" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        -->
        <div class="jumbotron">
            <h3> Snublevann anbefaler</h3>
        </div>
    
