<div id="LoginModal" class="modal fade my-modal-login">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title">Logg inn</h3>
            </div>
            

            <div class="modal-body">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
                {
                    @Html.AntiForgeryToken()
                }   
                
                <form class="form-signin" id="stop" data-url="@Url.Action("LogIn","Customer")">
                    
                    <div class="panel panel-default" style="margin-top:0px; margin-bottom:0px">
                        <div class="editor-field loginFields">
                            <input class="form-control input-sm" id="un" type="text" name="un" placeholder="E-postadresse" autofocus/>
                        </div>

                        <div class="editor-field loginFields">
                            <input class="form-control input-sm" id="pw" type="password" name="pw" placeholder="Passord" />
                        </div>
                    </div>
                    <button class="btn btn-large btn-success" type="submit"><span class="glyphicon glyphicon-log-in"></span> Logg inn</button>
                    <button id="forgotPwBtn" style="display:none" class="btn btn-large btn-warning"><span class="glyphicon glyphicon-question-sign"></span> Glemt passord</button>
                    <p class="text-danger" id="modalMessage">
                    </p>
                </form>
            
                


            </div>
        </div>
    </div>
</div>