<div id="NotLoggedIn" class="modal fade my-modal-notloggedin">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>For å handle må du være innlogget</h3>

            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-5 panel panel-default" style="margin-left:17px">
                        <h4>
                            Ny bruker
                        </h4>
                        <p>Du kan registrere en ny bruker. Det er kostnadsfritt og effektivt, alt du trenger å gjøre er å klikke på knappen under.</p>
                       
                    </div>
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-5 panel panel-default" style="margin-right:17px">
                        <h4>
                            Eksisterende bruker
                        </h4>
                        <p>Har du registrert deg før? Du kan logge inn med ditt eksisterende brukernavn og passord ved å trykke på knappen under.</p>
                    </div>
                    </div>
                <div class="row">
                    <div class="col-md-5">
                        <button type="button" onclick="location.href='@Url.Action("Register", "Customer")'" class="btn btn-primary" style="margin-top:0px">
                            <span class="glyphicon glyphicon-pencil"></span> Registrer deg
                        </button>
                    </div>
                    <div class="col-md-1">
                    </div>
                        <div class="col-md-5">
                            <button type="button" class="btn btn-success" data-dismiss="modal" id="modalLogInBtn" style="margin-top:0px">
                                <span class="glyphicon glyphicon-log-in"></span> Logg inn
                            </button>
                        </div>
                    </div>
        </div>
    </div>
</div>
