PersonalSite:

@model Nettbutikk.Models.Customer

@{
    ViewBag.Title = "Min Side";
}
<div>

    <h1> Velkommen, @Html.DisplayFor(model => model.username), @Html.DisplayFor(model => model.id)  </h1>

    <table class="table">
        <tr>
            <th> @Html.ActionLink("Endre din brukerinfo", "updateUserinfo", new { id = Model.id })</th>
            <th>Se tidligere ordre</th>
            <th>Se stående ordre</th>
            <th>blabal</th>
        </tr>
    </table>

    <div>Her kommer det du velger av tingene over</div>
</div>
