PersonalSite:

@model Nettbutikk.Models.Customer

@{
    ViewBag.Title = "Min Side";
}
<div>

    <h1> Velkommen, @ViewBag.Username  </h1>

    <table class="table">
        <tr>
            <th>Endre din brukerinfo</th>
            <th>Se tidligere ordre</th>
            <th>Se stående ordre</th>
            <th>blabal</th>
        </tr>
    </table>

    <div>Her kommer det du velger av tingene over</div>
</div>
