@m<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />

    <title>PersonalSite</title>
</head>
<body>
    <div>

        Du har nå kommet til en side som det er bare lov til for autoriserte brukere.

    </div>

</body>
</html>




