.navbar-inner{
background: #441c00; /* Old browsers */
background: -moz-linear-gradient(top,  #441c00 0%, #251400 88%, #210e0e 98%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#441c00), color-stop(88%,#251400), color-stop(98%,#210e0e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #441c00 0%,#251400 88%,#210e0e 98%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #441c00 0%,#251400 88%,#210e0e 98%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #441c00 0%,#251400 88%,#210e0e 98%); /* IE10+ */
background: linear-gradient(to bottom,  #441c00 0%,#251400 88%,#210e0e 98%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#441c00', endColorstr='#210e0e',GradientType=0 ); /* IE6-9 */
margin-bottom:0px;
-webkit-box-shadow: 0px 3px 10px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 3px 10px 0px rgba(50, 50, 50, 0.75);
box-shadow:         0px 3px 10px 0px rgba(50, 50, 50, 0.75);
}

.navUl
{
    margin-right: 20px;
    margin-bottom: 10px;
}

.navUl a
{
    margin-right: 42px;
    font-family: sans-serif;
    color:#dfc8ab;
}

    .navUl a:hover, a:visited {
        background: transparent;
        text-decoration: none;
    }

    .navUl a:focus
    {
        outline: 0;
        text-decoration: none;
    }