@model List<Nettbutikk.Models.Product>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListProducts</title>
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery-1.9.0.js"></script>
</head>
<body>
    <div class="container">

        <div class="jumbotron">
            <h1>Her er forsiden vår, sånn ser den ut</h1>
            <p>På denne siden skal det ligge noen varer på forsiden liggende i bilder</p>
        </div>
    </div>

    <div class="navbar navbar-default navbar-fixed-bottom">

        <div class="container">
            <p class="navbar-text text-center"> Nettbutikk for de flinkeste dataingeniørstudentene - 2014</p>
        </div>
    </div>
</body>
</html>
